.contact-form {
    border: 1px solid $accent-color;
    border-radius: 20px;
    padding: 38px 36px;

    @media(max-width: $breakpoint1280) {
        padding: 20px 15px;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
    }
    &__title {
        color: $accent-color;
        font-size: 32px;

        @media(max-width: $breakpoint1280) {
            font-size: 20px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 20px;
        }
    }
    &__subtitle {
        margin-top: 20px;
        font-weight: 400;
        font-size: 20px;
        color: #fff;

        @media(max-width: $breakpoint1280) {
            margin-top: 2px;
            font-size: 16px;
        }
        @media(max-width: $breakpoint480) {
            margin-top: 4px;
            font-size: 16px;
        }
    }

    &__bottom {
        margin-top: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;

        @media(max-width: $breakpoint1280) {
            justify-content: start;
            column-gap: 40px;
        }
        @media(max-width: $breakpoint768) {
            margin-top: 14px;
            flex-wrap: nowrap;
        }
        @media(max-width: $breakpoint375) {
            flex-wrap: wrap;
        }
    }
    &__text {
        font-weight: 400;
        font-size: 24px;
        color: #fff;

        @media(max-width: $breakpoint1280) {
            font-size: 14px;
            width: 150px;
        }
        @media(max-width: $breakpoint375) {
            width: 100%;
        }
    }

    & .social-list {
        gap: 16px;

        @media(max-width: $breakpoint1280) {
            gap: 10px;
        }

        &__item {
            display: flex;
            flex-shrink: 0;
        }
        
        &__icon {
            width: 50px;

            @media(max-width: $breakpoint1280) {
                width: 32px;
            }
            @media(max-width: $breakpoint480) {
                width: 30px;
            }
        }
    }
}