.header {
    position: relative;

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 28px 0;
        z-index: 2;

        @media(max-width: $breakpoint480) {
            padding: 18px 0;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 36px;

        @media(max-width: $breakpoint1280) {
            display: none;
        }
    }
    &__btn {
        border-radius: 15px;
        padding: 14px 16px;
        background: $main-color;
        border: 1px solid $main-color;

        display: flex;
        align-items: center;
        gap: 10px;

        font-weight: 500;
        font-size: 24px;
        text-align: center;
        color: #fff;
        transition: all .3s;

        & svg {
            width: 26px;
            fill: #fff;
            transition: fill .3s;
        }

        &:hover {
            color: $main-color;
            background: transparent;

            & svg {
                fill: $main-color;
            }
        }
    }

    & .logo {
        @media(max-width: $breakpoint480) {
            max-width: 60px;
        }
    }
}
