@import url("../assets/fonts/stylesheet.css");

html,
body {
    font-family: "Mulish", sans-serif;
    scroll-behavior: smooth;
    background: #333335;

    @media(max-width: $breakpoint1280) {
        overflow-x: hidden;
    }
}

// Заголовки
h1 {
    color: $main-color;
}
h2 {
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;

    @media(max-width: $breakpoint768) {
        font-size: 36px;
    }
    @media(max-width: $breakpoint480) {
        font-size: 32px;
    }
    @media(max-width: $breakpoint375) {
        font-size: 26px;
    }
}
h3 {
    color: $main-text;
}

// База
.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;

    &__inner {
        margin-top: 40px;

        @media(max-width: $breakpoint768) {
            margin-top: 24px;
        }
    }

    @media(max-width: $container-width) {
        padding: 0 $padding-md;
    }
    @media(max-width: $breakpoint768) {
        padding: 0 $padding-sm;
    }
}

.left-padding {
    padding-left: calc((100vw - $section-top) / 2);

    @media(max-width: $container-width) {
        padding-left: $padding-md;
    }
    @media(max-width: $breakpoint768) {
        padding-left: $padding-sm;
    }
}

.no-scroll {
    overflow: hidden;
}